1.	Kazada ölenlerin yaş ortalamasını bulunuz

In [ ]:
import pandas as pd

In [ ]:
titanic_dataset = pd.read_csv("/content/Titanic_dataset.csv")

In [ ]:
titanic_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_dead_dataset = titanic_dataset[titanic_dataset["Survived"] == 0]

In [ ]:
titanic_dead_dataset.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [ ]:
print(titanic_dead_dataset['Age'].mean())

30.62617924528302

2.Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [ ]:
print(titanic_dead_dataset['Fare'].mean())

22.117886885245902

In [ ]:
print(titanic_dead_dataset['Fare'].median())

10.5

3.Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [ ]:
titanic_dead_dataset_male = titanic_dead_dataset[titanic_dead_dataset["Sex"] == "male"]

In [ ]:
titanic_dead_dataset_male.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [ ]:
print(titanic_dead_dataset_male["Age"].mean())

31.618055555555557

In [ ]:
print(titanic_dead_dataset_male["Age"].median())

29.0

4.Kazada ölen Kadınların yaş ortalamasını bulunuz

In [23]:
titanic_dead_dataset_female = titanic_dead_dataset[titanic_dead_dataset['Sex'] == 'female']

In [24]:
titanic_dead_dataset_female.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S

In [25]:
print(titanic_dead_dataset_female['Age'].mean())

25.046875

5.Kazadan kurtulanların yaş ortalamasını bulunuz

In [26]:
titanic_dataset_survived = titanic_dataset[titanic_dataset['Survived'] == 1]

In [27]:
titanic_dataset_survived.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [28]:
print(titanic_dataset_survived['Age'].mean())

28.343689655172415

6.Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [29]:
print(titanic_dataset_survived['Fare'].mean())

48.39540760233918

Kazadan kurtulan toplam kişi sayısını bulunuz… (tüyo: len(df_titanic[(df_titanic.Survived==1)] kodu ile de bu sayıya ulaşabilirsiniz.)

In [32]:
titanic_dataset_survived_count = titanic_dataset_survived["PassengerId"].count()

In [34]:
print(titanic_dataset_survived_count)

342

8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [42]:
titanic_dataset_young = titanic_dataset[titanic_dataset["Age"] < 10]

In [44]:
titanic_dataset_young.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C

In [45]:
titanic_dataset_young['Fare'].median()

27.0

9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [46]:
titanic_dataset_class1 = titanic_dataset[titanic_dataset["Pclass"] == 1]

In [47]:
titanic_dataset_class1.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [53]:
print(titanic_dataset_class1['Fare'].mean())

84.1546875

In [49]:
titanic_dataset_class1['Fare'].median()

60.287499999999994

In [50]:
titanic_dataset_class2 = titanic_dataset[titanic_dataset["Pclass"] == 2]

In [51]:
titanic_dataset_class2.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S

In [55]:
print(titanic_dataset_class2['Fare'].mean())

20.662183152173913

In [56]:
titanic_dataset_class2['Fare'].median()

14.25

In [57]:
titanic_dataset_class3 = titanic_dataset[titanic_dataset["Pclass"] == 3]

In [58]:
titanic_dataset_class3.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [59]:
print(titanic_dataset_class3['Fare'].mean())

13.675550101832993

In [60]:
titanic_dataset_class3['Fare'].median()

8.05

10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

In [61]:
male = titanic_dataset[titanic_dataset["Sex"] == "male"]

In [63]:
male_number = male["PassengerId"].count()

In [64]:
male_number

np.int64(577)

In [65]:
dead_male_number = titanic_dead_dataset_male["PassengerId"].count()

In [66]:
dead_male_number

np.int64(468)

In [68]:
dead_male_ratio = dead_male_number / male_number

In [70]:
print(dead_male_ratio)

0.8110918544194108

In [71]:
female = titanic_dataset[titanic_dataset["Sex"] == "female"]

In [72]:
female_number = female["PassengerId"].count()

In [73]:
female_number

np.int64(314)

In [74]:
dead_female_number = titanic_dead_dataset_female["PassengerId"].count()

In [75]:
dead_female_number

np.int64(81)

In [76]:
dead_female_ratio = dead_female_number / female_number

In [78]:
print(dead_female_ratio)

0.25796178343949044